EDGESWARM_API_BASE_URL=https://api.edgeswarm.io
GCP_BASE_URL=https://api.edgeswarm.io

SUPABASE_URL=
SUPABASE_ANON_KEY=

EDGESWARM_AUTH_FILE=/etc/edgeswarm-node-auth.json
EDGESWARM_INSTALL_DIR=/opt/edgeswarm-node
EDGESWARM_MODEL_DIR=/var/lib/edgeswarm-node/models
EDGESWARM_ENABLE_AUTO_UPDATE=1
EDGESWARM_NODE_VERSION=0.1.9
